* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 600px;
    padding: 30px;
    background-color: #092b09;
    margin: auto;
    margin-top: 70px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
}

.container h2 {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

input{
    background-color: #c0c0c0;
    padding: 8px;
    margin: 10px 0;
    margin-bottom: 15px;
    border: 1px solid white;
    font-size: 15px;
    color: black;
}
.cont1input {
    width: 49%;
}
.cont2input{
    width: 32.5%;
}
.container p {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-top: 15px;
}

.container button {
    width: 100%;
    background-color: #092b09;
    padding: 12px;
    color: white;
    font-size: 15px;
    border-color: white;
    margin: 5px 0;
}

.container table {
    width: 100%;
    border: 1px solid #000;
 }
.container th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border-collapse: collapse;
    padding: 0.3em;
 }

.container ul{
    list-style-position: inside;
    list-style-type: circle;
    text-align: auto;
    font-size: 18px;
    padding: 5px;
    margin: 10px;
}
