
.home{
    display: flex;
    flex-wrap: wrap;
}

.home a{
    flex: 1;
    min-width: 250px;
}

div{
    text-align: center;
    font-size: large;
    margin-top: 30px;
    color: #092b09;
}

.opciones{
    margin: auto;
    margin-top: 70px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color: #092b09;
    background-color: rgb(221, 224, 221);
    padding: 15px;
}

.opciones:hover{
    font-weight: 900;
}

.opciones img{
    height: 150px;
    margin: 30px;
}

@media screen and (max-width: 858px) {
    div {
        font-size: small;
        margin: 40px;
    }
    .opciones{
        margin: auto;
        margin-top: 20px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        color: #092b09;
    }
    
    .opciones img{
        height: 70px;
        margin: 10px;
    }
    .home a{
        flex: 2;
        min-width: 150px;
        background-color: rgb(221, 224, 221);
    }
    .home {
        background-color: rgb(221, 224, 221);
    }
    

}
