* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: grid; 
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
}

.container {
    width: 500px;
    padding: 30px;
    background-color: #092b09;
    margin-top: 70px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
}

h2 {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

input {
    background-color: #c0c0c0;
    padding: 8px;
    margin: 10px 0;
    margin-bottom: 15px;
    border: 1px solid white;
    font-size: 15px;
    color: black;
    width: 100%;
}
.home p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    margin: 25px;
    margin-top: 15px;
}

button {
    width: 100%;
    background-color: #092b09;
    padding: 12px;
    color: white;
    font-size: 15px;
    border-color: white;
    margin: 5px 0;
}

.inPn {
    background-color: #c0c0c0;
    padding: 8px;
    margin: 10px 0;
    margin-bottom: 15px;
    border: 1px solid white;
    font-size: 15px;
    color: black;
    width: 49%;
}

table {
    width: 100%;
    border: 1px solid #000;
 }

th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border-collapse: collapse;
    padding: 0.3em;
 }
