.container {
    width: 400px;
    padding: 30px;
    background-color: #a2282a;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
}