* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/21775wide.jpg);

}

.container {
    width: 400px;
    padding: 30px;
    background-color: #a2282a;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
}

.titulo {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

input {
    width: 100%;
    background-color: #979191;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid white;
    font-size: 15px;
    color: black;
}
p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    margin: 25px;
    margin-top: 15px;
}

button {
    width: 100%;
    background-color: #dc143c;
    padding: 12px;
    color: white;
    font-size: 15px;
    border-color: white;
    margin: 18px 0;
}

.respuesta {
    border: 0.5px solid white;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    background-color: #b12730;

     
}
