* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: grid; 
    grid-template-columns: auto auto;
}

.container {
    width: 500px;
    padding: 30px;
    margin: auto;
    margin-top: 70px;
    border-radius: 10px;
    font-family: 'calibri';
}

.titulo {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

input {
    width: 100%;
    background-color: #c0c0c0;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid white;
    font-size: 15px;
    color: black;
    margin: 10px 0;
}
.home p {
    height: auto;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
}

button {
    width: 100%;
    background-color: #092b09;
    padding: 12px;
    color: white;
    font-size: 15px;
    border-color: white;
    margin: 5px 0;
}

.respuesta {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
label{
    margin-top: 15px;
    padding: 0;
}
.descripcion{
    padding: 0;
}
